@using Turnero.Models;
@model List<TimeTurnViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="back row">
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table id="Turns" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Time)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>