[*.cs]

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none
