@model Visit

<form method="post" id="CreateVisitForm" autocomplete="on">
    <input type="hidden" name="__RequestVerificationToken" value="@ViewData["RequestVerificationToken"]" />

    <div class="modal-body row">
        <input type="hidden" asp-for="PatientId" id="PatientId" />

        <div class="form-group col-md-6 col-sm-12">
            <label asp-for="VisitDate" class="control-label">Fecha</label>
            <input asp-for="VisitDate" autocomplete="off" id="VisitDate" type="date" class="form-control"
                   value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-for="VisitDate" id="dateValidation" class="text-danger"></span>
        </div>
        <div class="form-group col-12">
            <label asp-for="Reason" class="control-label">Motivo</label>
            <textarea asp-for="Reason" id="Reason" class="form-control" rows="3"></textarea>
            <span id="ReasonValidation" class="text-danger"></span>
        </div>
        <div class="form-group col-12">
            <label asp-for="Treatment" class="control-label">Tratamiento</label>
            <textarea asp-for="Treatment" id="Treatment" class="form-control" rows="3"></textarea>
            <span id="TreatmentValidation" class="text-danger"></span>
        </div>
        <div class="form-group col-12">
            <label asp-for="EvolutionNotes" class="control-label">Evolución clinica</label>
            <textarea asp-for="EvolutionNotes" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group col-12">
            <label asp-for="LabResults" class="control-label">Laboratorio</label>
            <textarea asp-for="LabResults" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group col-12">
            <label asp-for="OtherStudies" class="control-label">Otros estudios</label>
            <textarea asp-for="OtherStudies" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group col-12">
            <label asp-for="Observations" class="control-label">Observaciones</label>
            <textarea asp-for="Observations" class="form-control" rows="2"></textarea>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label asp-for="Diagnosis" class="control-label">Diagnóstico</label>
            <input asp-for="Diagnosis" id="Diagnosis" class="form-control" />
            <span id="DiagnosisValidation" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label asp-for="DiagDescription" class="control-label">Descripcion del diagnostico</label>
            <input asp-for="DiagDescription" autocomplete="off" type="text" id="DiagDescription" class="form-control" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" id="btnCreateVisit" class="btn btn-primary">Crear</button>
    </div>
</form>
