@model PatientDTO
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
	ViewData["Title"] = "Pacientes ";
}

 <div class="back container-fluid">
	<div class="form-group row">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<input id="searchBox" name="NameOrDni" type="text" class="form-control" placeholder="Nombre o Dni" />
		</div>
		<div class="col-lg-2 col-md-6 col-sm-12">
			<button class="form-control btn btn-primary" id="btnSearch">Buscar</button>
		</div>
		@{
			if (SignInManager.IsSignedIn(User)) {
				<div class="col-lg-2 col-md-6 col-sm-12">
					<button type="button" id="createPatient" class="form-control btn btn-secondary">Nuevo Paciente</button>
				</div>
			}
		}
	</div>
	<div class="row">
		<div id="control" class="col"></div>
	</div>
	<!-- Modal -->
	<div class="modal modal-lg fade" id="Create" role="dialog">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Nuevo</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div id="CreateFormContent"></div>
			</div>
		</div>
	</div>
	<div class="modal modal-lg fade" id="Edit" role="dialog">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Editar @Html.DisplayFor(model => model.Name)</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div id="EditFormContent">
				</div>
			</div>

		</div>
	</div>
</div>
<div class="back contianer-fluid" id="PatientsPartial">
	<partial name="_Table" />
</div>

@section Scripts {
    <script src="~/js/patients.js" asp-append-version="true"></script>
    <script src="~/js/visits.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}