@model List<int>
@{
    ViewData["Title"] = "Turnero - Incio";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Bienvenido @User.Identity.Name</h1>
        
        <img class="rounded mx-auto d-block" src="~/favicon.webp" />
        </div>
</div>

@section scripts{
}

