@model TurnDTO

<form method="post" id="CreateForm">
    <div class="modal-body row">

        <div class="form-group col-md-4 col-sm-12">
            <label asp-for="Name" class="control-label">Nombre</label>
            <input asp-for="Name" id="Name" class="form-control" />
            <span id="clientValidation" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label class="control-label">Dni</label>
            <input asp-for="Dni" id="Dni" class="form-control" />
            <span id="dniValidation" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label class="control-label">Medico</label>
            <select asp-for="MedicId" id="medicIdCreate"
                    class="form-control medicId"
                    asp-items="@ViewBag.Medics">
                <option value="" selected>== Seleccione un profesional ==</option>
            </select>
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label class="control-label">Fecha</label>
            <input asp-for="Date" id="DateTurnCreate" type="text" class="form-control" />
        </div>

        <div class="form-group col-md-4 col-sm-12">
            <label class="control-label">Hora</label>
            <select asp-for="TimeId" id="timeTurnCreate"
                    class="form-control"
                    asp-items="@ViewBag.Time">
                <option value="" selected>== Seleccione un horario ==</option>
            </select>
            <span id="timeValidation" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <label class="control-label">Obra Social</label>
            <input asp-for="SocialWork" id="socialWorkCreate" class="form-control" />
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <label class="control-label">Motivo</label>
            <input asp-for="Reason" id="reasonCreate" class="form-control" />
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" id="btnCrearTurno" class="btn btn-primary">Crear</button>
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
