@model             TurnDTO
<form id="EditForm" method="post">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Dni" class="control-label"></label>
            <input asp-for="Dni" class="form-control" />
            <span asp-validation-for="Dni" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" id="DateTurnEdit" type="text" class="form-control" value="@String.Format("{0:yyyy-MM-dd}",Model.Date)" data-date-format="dd/MM/yyyy" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MedicName" class="control-label"></label>
            <select asp-for="MedicId" id="medicIdEdit"
                    class="form-control medicId"
                    asp-items="@ViewBag.Medics"></select>
        </div>
        <div class="form-group">
            <label asp-for="Time" class="control-label"></label>
            <select asp-for="TimeId" id="TimeIdEdit"
                    class="form-control timeId"
                    asp-items="@ViewBag.TimeEdit"></select>
        </div>
        <div class="form-group">
            <label asp-for="SocialWork" class="control-label"></label>
            <input asp-for="SocialWork" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Reason" class="control-label"></label>
            <input asp-for="Reason" class="form-control" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" id="btnEditarTurno" class="btn btn-primary">Guardar</button>
    </div>
</form>

<script src="~/js/editTurn.js"></script>

@section scripts{
    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}