@using Turnero.DAL.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<table id="turns" class="col-md-12 display responsive nowrap">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Dni
            </th>
            <th>
                Obra Social
            </th>
            <th>
                Motivo
            </th>
            <th>
                Médico
            </th>
            <th>
                Medic Id
            </th>
            <th>
                Fecha
            </th>
            <th>
                Hora
            </th>
            <th>Acción</th>
            
        </tr>
    </thead>
    </table>