@model Turnero.Models.Turn

@{
    ViewData["Title"] = "Editar Turno";
}
<hr />
<div class="card">
    <div class="card-header">
        <h4>Editar Turno @Html.DisplayFor(model => model.Name)</h4>
    </div>
    <form method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTurn" class="control-label"></label>
                <input asp-for="DateTurn" class="form-control" value="@String.Format("{0:yyyy-MM-dd}",Model.DateTurn)" />
                <span asp-validation-for="DateTurn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medic" class="control-label"></label>
                <select asp-for="Medic.Id"
                        class="form-control"
                        asp-items="@(new SelectList(ViewBag.Medics, "Id", "Name", ViewBag.MedicId))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <select asp-for="Time.Id"
                        class="form-control"
                        asp-items="@(new SelectList(ViewBag.Time, "Id", "Time", ViewBag.TimeId))"></select>
            </div>
            <div class="form-group">
                <label asp-for="SocialWork" class="control-label"></label>
                <input asp-for="SocialWork" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-outline-warning">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
