@using Turnero.Models;
@model List<TurnDTO>
@using Microsoft.AspNetCore.Identity
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Turnos - Turnero";
    if (ViewBag.Date == null)
        ViewBag.Date = String.Format("{0:dd/MM/yyyy}", DateTime.Now);
    else
        String.Format("{0:dd/M/yyyy}", DateTime.Now);
}
<div class="card">
<h1>Turnos</h1>
</div>
<div class="back container-fluid">
    <div class="form-group row">
        <div class="form-group row">
            <div class="col-md-1 col-sm-12">
                <input id="DateTurn" name="dateTurn" type="text" class="form-control" value="@ViewBag.Date" data-date-format="dd/MM/yyyy" />
            </div>
            <div class="col-md-2 col-sm-12">
                <select id="Medics" class="form-control" asp-items="@ViewBag.Medics"></select>
            </div>
            <div class="col-md-1 col-sm-12">
                <button class="form-control btn btn-primary" id="btnSearch">Buscar</button>
            </div>
        </div>
        @{
            if (SignInManager.IsSignedIn(User)) {
                <div class="col-md-1 col-sm-12">
                    <a class="form-control btn btn-secondary" asp-action="Create">Nuevo Turno</a>
                </div>
            }
        }
    </div>
    <div class="row">
            
            
        <div id="control" class="col"></div>
    </div>
</div>
<div class="back container-fluid" id="TurnsPartial">

            <partial name="_TurnsPartial" model="@Model" />
    
</div>
@section scripts{
    <script src="~/js/turn.js"></script>
    <script src="~/js/turndt.js"></script>
}
