@page
@model LoginModel

@{
    ViewData["Title"] = "Ingresar";
}

<link rel="stylesheet" href="~/css/Login.css" />
<div class="back container">
    <a id="TurnsPublic" class="btn btn-primary" asp-action="Index" asp-controller="TurnsPublic">Ingreso espontáneo</a>
</div>
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div     class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form id="account" method="post">
                        <img class="rounded mx-auto d-block" style="width: -webkit-fill-available;" src="~/favicon.webp" />
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-outline mb-4">
                                <input asp-for="Input.User" class="form-control form-control-lg" placeholder="User" />
                                
                                <span asp-validation-for="Input.User" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <input asp-for="Input.Password" class="form-control form-control-lg" placeholder="Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                            </div>
                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Contraseña perdida?</a>
                                </p>
                            </div>
                        </form>

                    <p>
                        Perfil medico <br />
                        usuario prueba: medicoprueba1 <br />
                        password prueba: medicoprueba1 <br />
                        <br />
                        Perfil Ingreso <br />
                        usuario prueba: ingresopruebas <br />
                        password prueba: ingreso1 <br />
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
