div.dt-buttons {
    float: left !important;
}
-bs-btn-active-color {
    color: #000;
}
.sort-btn {
    color: inherit;
    text-decoration: none;
}

.sort-indicator {
    font-size: 0.9em;
}

th .active{
    font-weight: 600 !important;
}